.navbar{
    background-color: black;
   }
   #footer {
      background-color: black;
      color: white;
      font-size: 14px;
    }
    .footer a {
      color: #ccc;
      text-decoration: none;
    }
    footer a:hover {
      color: #fff;
    }
    .footer-bottom {
      border-top: 1px solid #444;
      text-align: center;
      padding: 15px 0;
      margin-top: 30px;
      font-size: 13px;
      color: #aaa;
    }
    .social-icons a {
      color: #fff;
      margin-right: 15px;
      font-size: 18px;
    }
    .footer-heading {
      font-weight: 600;
      margin-bottom: 10px;
    }
    #navbar:hover{
      background-color: red;
      border-radius: 5px;
      transition: 1s ease;
    }
    .card{transition: all 0.3s ease;
    transform: perspective(1000px) translateZ(0);}

    .card:hover{transform:perspective(1000px) translateZ(30px) scale(1);

    box-shadow: 0 10px 20px red;}

    .button:hover{background-color: white;
    border-radius: 5px;transition: 1s ease;
  color: black;}


  .circle{border-radius: 50%; width: 150px ;transition: all 0.3s ease;
    transform: perspective(1000px) translateZ(0);}
    .circle:hover{transform:perspective(1000px) translateZ(30px) scale(1.05);  box-shadow: 0 10px 20px red;}
      
.center{display: flex; }

.name{margin-top: 10px;margin-left: 80px;font-size: 23px; color:black;}
.name:hover{ color: red; width: fit-content;border-radius: 10px;
}
.large{margin-left: 10px; margin-top: 90px; display: flex;justify-content: center; color: black;}
.largebutton:hover{color:red}
.middlebtn{margin-top: 90px;}
.viewbutton{display: flex;justify-content: center; margin-top: 90px; ;}
.viewbutton1{border: 1px solid black;}