   .navbar{
    background-color: black;
   }
  .btn-outline-secondary.active {
  background-color: #212529;
  color: #fff;
  border-color: #212529;
}

   #footer {
      background-color: black;
      color: white;
      font-size: 14px;
      
    }
    .footer a {
      color: #ccc;
      text-decoration: none;
    }
    footer a:hover {
      color: #fff;
    }
    .footer-bottom {
      border-top: 1px solid #444;
      text-align: center;
      padding: 15px 0;
      margin-top: 30px;
      font-size: 13px;
      color: #aaa;
    }
    .social-icons a {
      color: #fff;
      margin-right: 15px;
      font-size: 18px;
    }
    .footer-heading {
      font-weight: 600;
      margin-bottom: 10px;
    }
    #navbar:hover{
      background-color: red;
      border-radius: 5px;
      transition: 1s ease;
    }
    .container{
        max-width: 1200px;
    }
    .card{
      transition-property: box-shadow;
      transition-duration: 0.7s;
      transition-timing-function: ease;
    }
    .card:hover{
      transform: scale(1);
      box-shadow: 0 10px 80px;
    }

  
