.navbar{
    background-color: rgb(0, 0, 0);
   }
   #footer {
      background-color: rgb(0, 0, 0);
      color: white;
      font-size: 14px;
    }
    .footer a {
      color: #ccc;
      text-decoration: none;
    }
    footer a:hover {
      color: #fff;
    }
    .footer-bottom {
      border-top: 1px solid #444;
      text-align: center;
      padding: 15px 0;
      margin-top: 30px;
      font-size: 13px;
      color: #aaa;
    }
    .social-icons a {
      color: #fff;
      margin-right: 15px;
      font-size: 18px;
    }
    .footer-heading {
      font-weight: 600;
      margin-bottom: 10px;
    }
    #navbar:hover{
      background-color: red;
      border-radius: 5px;
      transition: 1s ease;
    }


    .container{
      max-width: 1200px;
    }

    .card{
transition-property: box-shadow;
transition-duration: 0.7s;
transition-timing-function: ease;
    }

    .card:hover{
      transform: scale(1);
      box-shadow: 0 10px 80px;
    }



    .price{
      color: darkgrey;
    }


    .new1{
       margin-left: 44%;
       margin-top: 40px;
       color: white;
       border-radius: 10px;
       width: 120px;
       height: 38px;
       background-color: rgb(0, 0, 0);
    }

.new1:hover{
color: black;
background-color: white;
transition: 1s;
}

    .card-text{
      color: rgb(216, 166, 101);
    }



.button{
 display: flex;
 justify-content: center;
 margin-top: 20px;
 color: rgb(0, 0, 0);
 border-radius: 12px;
 margin-top: 10px;
}

.button:hover{
  transition: ease-in-out;
  transition: 2s;
  background-color: white;
  color: black;
}







    .brimage{
      border-radius: 50%;
      height: 200px;
      width: 200px;
      margin-left: 80px;

      transition-property: box-shadow;
transition-duration: 0.7s;
transition-timing-function: ease;
    }


    .brimage:hover{
       transform: scale(1);
      box-shadow: 0 10px 40px black;
    }













    